n8n/bootstrap/workflows/govcrawler-run.json
[
  {
    "updatedAt": "2026-07-03T10:00:00.000Z",
    "createdAt": "2026-07-03T10:00:00.000Z",
    "id": "govchat-govcrawler-run",
    "name": "GovChat Overheidscrawler",
    "description": "Allowlist crawler met robots.txt-respect en run-audit logging",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "ScheduleTriggerCrawler",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1340,
          120
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "govcrawler-run",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "WebhookGovCrawlerRun",
        "name": "Webhook GovCrawler Run",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1340,
          320
        ],
        "webhookId": "govchat-govcrawler-run"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json || {};\nconst isObj = (v) => v && typeof v === 'object' && !Array.isArray(v);\nconst body = isObj(raw.body) ? raw.body : raw;\nconst headers = isObj(raw.headers) ? raw.headers : {};\n\nconst expectedToken = String($env.N8N_WEBHOOK_TOKEN || '').trim();\nconst hasWebhookShape = !!raw.body || Object.keys(headers).length > 0;\nconst isSchedule = !hasWebhookShape;\n\nif (hasWebhookShape) {\n  const headerToken = String(headers['x-govchat-token'] || headers['X-Govchat-Token'] || '').trim();\n  const authHeader = String(headers.authorization || headers.Authorization || '').trim();\n  const bearerToken = authHeader.toLowerCase().startsWith('bearer ')\n    ? authHeader.slice(7).trim()\n    : '';\n  const suppliedToken = headerToken || bearerToken;\n\n  if (!expectedToken) throw new Error('Server misconfiguratie: N8N_WEBHOOK_TOKEN ontbreekt');\n  if (!suppliedToken || suppliedToken !== expectedToken) throw new Error('Unauthorized webhook token');\n}\n\nconst runId = String(body.run_id || '').trim() || crypto.randomUUID();\nconst trigger = isSchedule ? 'schedule' : String(body.trigger || 'manual').trim() || 'manual';\nconst requestedBy = String(body.requested_by || (isSchedule ? 'n8n-schedule' : 'overlay-admin')).trim();\n\nreturn [{\n  json: {\n    run_id: runId,\n    trigger,\n    requested_by: requestedBy,\n    requested_at: new Date().toISOString(),\n  },\n}];"
        },
        "id": "PrepareCrawlerRun",
        "name": "Prepare Crawler Run",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1110,
          220
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ ($env.CRAWLER_ADMIN_BASE_URL || 'http://govchat-overlay-admin:3002').replace(/\\/$/, '') + '/api/crawler/internal/config' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-govchat-token",
                "value": "={{ $env.CRAWLER_INTERNAL_TOKEN || $env.N8N_WEBHOOK_TOKEN || '' }}"
              }
            ]
          },
          "options": {
            "timeout": 20000
          }
        },
        "id": "LoadCrawlerConfig",
        "name": "Load Crawler Config",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -870,
          220
        ]
      },
      {
        "parameters": {
          "jsCode": "const run = $('Prepare Crawler Run').first().json || {};\nconst cfg = $json || {};\nconst nowIso = new Date().toISOString();\n\nfunction toHost(u) {\n  try { return new URL(u).hostname.toLowerCase(); } catch { return ''; }\n}\n\nconst allSources = Array.isArray(cfg.sources) ? cfg.sources : [];\nconst enabledSources = allSources.filter((s) => s && s.enabled !== false);\nconst enabledSourceIds = enabledSources.map((s) => String(s.id || s.name || s.start_url || '').trim()).filter(Boolean);\n\nif (cfg.enabled === false || enabledSources.length === 0) {\n  const skipReason = cfg.enabled === false ? 'Crawler staat uit' : 'Geen actieve bronnen geconfigureerd';\n  return [{\n    json: {\n      ...run,\n      crawler_config: cfg,\n      skip_run: true,\n      skip_reason: skipReason,\n      started_at: nowIso,\n      finished_at: nowIso,\n      summary: {\n        visited_pages: 0,\n        discovered_links: 0,\n        robots_blocked: 0,\n        outside_allowlist: 0,\n        fetch_errors: 0,\n        indexed_items: 0,\n        diagnostics: {\n          skip_reason: skipReason,\n          cfg_enabled: cfg.enabled !== false,\n          configured_sources: allSources.length,\n          enabled_sources: enabledSources.length,\n          enabled_source_ids: enabledSourceIds,\n        },\n      },\n      error: skipReason,\n    },\n  }];\n}\n\nfor (const s of enabledSources) {\n  if (!Array.isArray(s.allowed_domains) || !s.allowed_domains.length) {\n    const h = toHost(s.start_url);\n    s.allowed_domains = h ? [h] : [];\n  }\n  if (!Array.isArray(s.allowed_path_prefixes) || !s.allowed_path_prefixes.length) {\n    s.allowed_path_prefixes = ['/'];\n  }\n  s.max_pages = Math.max(1, Number.parseInt(String(s.max_pages || cfg.max_pages_per_run || 75), 10) || 75);\n  s.max_depth = Math.max(1, Number.parseInt(String(s.max_depth || cfg.max_depth || 3), 10) || 3);\n}\n\nreturn [{\n  json: {\n    ...run,\n    crawler_config: cfg,\n    sources: enabledSources,\n    skip_run: false,\n    started_at: nowIso,\n    summary: {\n      ...(run.summary || {}),\n      diagnostics: {\n        cfg_enabled: cfg.enabled !== false,\n        configured_sources: allSources.length,\n        enabled_sources: enabledSources.length,\n        enabled_source_ids: enabledSourceIds,\n      },\n    },\n  },\n}];"
        },
        "id": "ValidateConfig",
        "name": "Validate Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          220
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skip_run === true }}",
                "operation": "isTrue"
              }
            ]
          }
        },
        "id": "IfSkip",
        "name": "Skip run?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -420,
          220
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $json || {};\nconst cfg = input.crawler_config || {};\nconst sources = Array.isArray(input.sources) ? input.sources : [];\n\nconst timeoutMs = Math.max(3000, Number.parseInt(String(cfg.request_timeout_ms || 15000), 10) || 15000);\nconst maxPagesGlobal = Math.max(10, Number.parseInt(String(cfg.max_pages_per_run || 200), 10) || 200);\nconst respectRobots = cfg.respect_robots_txt !== false;\nconst userAgent = String(cfg.user_agent || 'GovChatCrawler/1.0 (+https://govchat.nl)').trim() || 'GovChatCrawler/1.0 (+https://govchat.nl)';\nconst includeFileTypes = Array.isArray(cfg.include_file_types) && cfg.include_file_types.length\n  ? cfg.include_file_types.map((v) => String(v || '').toLowerCase())\n  : ['text/html', 'application/pdf'];\n\nconst embeddingEnabled = cfg.embedding_enabled !== false;\nconst embeddingModel = String(cfg.embedding_model || 'govchat-embedding').trim() || 'govchat-embedding';\nconst embeddingMaxChars = Math.max(1000, Number.parseInt(String(cfg.embedding_max_chars || 8000), 10) || 8000);\nconst skipEmbeddingForUnchanged = cfg.skip_embedding_for_unchanged !== false;\nconst litellmUrl = String($env.LITELLM_URL || '').replace(/\\/$/, '') + '/v1/embeddings';\nconst litellmKey = String($env.LITELLM_API_KEY || '').trim();\nconst cancelEndpointBase = String($env.CRAWLER_ADMIN_BASE_URL || 'http://govchat-overlay-admin:3002').replace(/\\/$/, '');\nconst internalToken = String($env.CRAWLER_INTERNAL_TOKEN || $env.N8N_WEBHOOK_TOKEN || '').trim();\nlet cancelRequested = false;\n\nconst metrics = {\n  visited_pages: 0,\n  discovered_links: 0,\n  robots_blocked: 0,\n  outside_allowlist: 0,\n  fetch_errors: 0,\n  indexed_items: 0,\n  embedding_calls: 0,\n  embedding_errors: 0,\n  embedding_skipped_unchanged: 0,\n  changed_pages: 0,\n  unchanged_pages: 0,\n  seed_urls: 0,\n  empty_seed_sources: 0,\n};\n\nconst diagnostics = {\n  ...(input.summary?.diagnostics || {}),\n  reasons: [],\n  source_start_candidates: [],\n  runtime: {\n    has_global_url: typeof URL === 'function',\n    has_require: typeof require === 'function',\n    has_abortsignal_timeout: typeof AbortSignal !== 'undefined' && typeof AbortSignal.timeout === 'function',\n    has_fetch_global: typeof fetch === 'function',\n  },\n};\n\nlet URLCtor = null;\nif (typeof URL === 'function') {\n  URLCtor = URL;\n} else {\n  try {\n    if (typeof require === 'function') {\n      URLCtor = require('url').URL;\n    }\n  } catch (_) {\n    URLCtor = null;\n  }\n}\ndiagnostics.runtime.has_url_ctor = Boolean(URLCtor);\n\nlet fetchFn = typeof fetch === 'function' ? fetch : null;\nif (!fetchFn) {\n  try {\n    if (typeof require === 'function') {\n      const nf = require('node-fetch');\n      fetchFn = typeof nf === 'function' ? nf : nf?.default || null;\n    }\n  } catch (_) {\n    // ignore\n  }\n}\nif (!fetchFn) {\n  try {\n    if (typeof require === 'function') {\n      const undici = require('undici');\n      if (typeof undici?.fetch === 'function') fetchFn = undici.fetch;\n    }\n  } catch (_) {\n    // ignore\n  }\n}\ndiagnostics.runtime.has_fetch_fn = Boolean(fetchFn);\n\nlet httpMod = null;\nlet httpsMod = null;\nif (!fetchFn) {\n  try {\n    if (typeof require === 'function') {\n      httpMod = require('http');\n      httpsMod = require('https');\n    }\n  } catch (_) {\n    httpMod = null;\n    httpsMod = null;\n  }\n}\ndiagnostics.runtime.has_http_builtin = Boolean(httpMod && httpsMod);\n\nfunction fetchWithHttpModules(url, options = {}, redirectDepth = 0) {\n  return new Promise((resolve, reject) => {\n    const parsed = parseUrlParts(url);\n    if (!parsed) return reject(new Error('Invalid URL: ' + String(url || '')));\n    const lib = parsed.protocol === 'https:' ? httpsMod : httpMod;\n    if (!lib) return reject(new Error('HTTP modules are not available'));\n\n    const requestOptions = {\n      method: String(options.method || 'GET').toUpperCase(),\n      headers: {\n        ...(options.headers || {}),\n        'accept-encoding': 'identity',\n      },\n    };\n\n    const req = lib.request(parsed.href, requestOptions, (res) => {\n      const status = Number(res.statusCode || 0);\n      const headers = res.headers || {};\n\n      if (status >= 300 && status < 400 && headers.location) {\n        if (redirectDepth >= 5) {\n          res.resume();\n          return reject(new Error('Too many redirects'));\n        }\n        const nextUrl = normalizeUrl(String(headers.location), parsed.href);\n        res.resume();\n        if (!nextUrl) return reject(new Error('Invalid redirect location'));\n        return resolve(fetchWithHttpModules(nextUrl, options, redirectDepth + 1));\n      }\n\n      const chunks = [];\n      res.on('data', (chunk) => chunks.push(Buffer.from(chunk)));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString('utf-8');\n        resolve({\n          ok: status >= 200 && status < 300,\n          status,\n          headers: {\n            get: (name) => {\n              const key = String(name || '').toLowerCase();\n              const val = headers[key];\n              if (Array.isArray(val)) return val.join(', ');\n              return val == null ? null : String(val);\n            },\n          },\n          text: async () => body,\n          json: async () => {\n            try {\n              return body ? JSON.parse(body) : {};\n            } catch {\n              return { raw: body };\n            }\n          },\n        });\n      });\n      res.on('error', reject);\n    });\n\n    req.on('error', reject);\n\n    if (options.signal && typeof options.signal.addEventListener === 'function') {\n      const onAbort = () => {\n        req.destroy(new Error('Request aborted'));\n      };\n      options.signal.addEventListener('abort', onAbort, { once: true });\n    }\n\n    if (options.body) req.write(String(options.body));\n    req.end();\n  });\n}\n\nif (!fetchFn && httpMod && httpsMod) {\n  fetchFn = (url, options) => fetchWithHttpModules(url, options || {});\n  diagnostics.runtime.has_fetch_fn = true;\n}\n\nfunction timeoutSignal(ms) {\n  try {\n    if (typeof AbortSignal !== 'undefined' && typeof AbortSignal.timeout === 'function') {\n      return AbortSignal.timeout(ms);\n    }\n  } catch (_) {\n    // ignore and run without abort signal\n  }\n  return undefined;\n}\n\nconst visited = new Set();\nconst robotsCache = new Map();\nlet globalCount = 0;\n\nfunction normalizeUrl(raw, base) {\n  const inputRaw = String(raw || '').trim();\n  if (!inputRaw) return null;\n\n  const toPath = (p) => {\n    const src = String(p || '/');\n    const parts = src.split('/');\n    const out = [];\n    for (const part of parts) {\n      if (!part || part === '.') continue;\n      if (part === '..') {\n        if (out.length) out.pop();\n        continue;\n      }\n      out.push(part);\n    }\n    return '/' + out.join('/');\n  };\n\n  const parseSimple = (abs) => {\n    const m = String(abs || '').trim().match(/^https?:\\/\\/([^\\/?#\\s]+)([^?#\\s]*)?(\\?[^#\\s]*)?(#.*)?$/i);\n    if (!m) return null;\n    const hostRaw = String(m[1] || '').trim();\n    if (!hostRaw) return null;\n    const host = hostRaw.toLowerCase();\n    const hostname = host.split(':')[0];\n    const pathname = toPath(m[2] || '/');\n    const query = m[3] || '';\n    return {\n      protocol: abs.toLowerCase().startsWith('https://') ? 'https:' : 'http:',\n      host,\n      hostname,\n      pathname,\n      href: `${abs.toLowerCase().startsWith('https://') ? 'https' : 'http'}://${host}${pathname}${query}`,\n    };\n  };\n\n  try {\n    if (URLCtor) {\n      const u = base ? new URLCtor(inputRaw, base) : new URLCtor(inputRaw);\n      if (!['http:', 'https:'].includes(u.protocol)) return null;\n      u.hash = '';\n      return u.toString();\n    }\n  } catch {\n    // fallback hieronder\n  }\n\n  const absolute = /^https?:\\/\\//i.test(inputRaw);\n  if (absolute) {\n    const p = parseSimple(inputRaw);\n    return p ? p.href : null;\n  }\n\n  const baseNorm = String(base || '').trim();\n  const bp = parseSimple(baseNorm);\n  if (!bp) return null;\n\n  if (inputRaw.startsWith('//')) {\n    const p = parseSimple(`${bp.protocol}${inputRaw}`);\n    return p ? p.href : null;\n  }\n\n  if (inputRaw.startsWith('/')) {\n    return `${bp.protocol}//${bp.host}${toPath(inputRaw)}`;\n  }\n\n  const baseDir = bp.pathname.endsWith('/')\n    ? bp.pathname\n    : (bp.pathname.slice(0, bp.pathname.lastIndexOf('/') + 1) || '/');\n  return `${bp.protocol}//${bp.host}${toPath(baseDir + inputRaw)}`;\n}\n\nfunction parseUrlParts(raw, base) {\n  const normalized = normalizeUrl(raw, base);\n  if (!normalized) return null;\n\n  if (URLCtor) {\n    try {\n      const u = new URLCtor(normalized);\n      return {\n        href: u.toString(),\n        protocol: u.protocol,\n        host: u.host.toLowerCase(),\n        hostname: u.hostname.toLowerCase(),\n        pathname: u.pathname || '/',\n      };\n    } catch (_) {\n      // fallback below\n    }\n  }\n\n  const m = normalized.match(/^https?:\\/\\/([^\\/?#\\s]+)([^?#\\s]*)?/i);\n  if (!m) return null;\n  const host = String(m[1] || '').toLowerCase();\n  const pathname = String(m[2] || '/');\n  return {\n    href: normalized,\n    protocol: normalized.toLowerCase().startsWith('https://') ? 'https:' : 'http:',\n    host,\n    hostname: host.split(':')[0],\n    pathname: pathname || '/',\n  };\n}\n\nfunction urlAllowed(url, source) {\n  const u = parseUrlParts(url);\n  if (!u) return false;\n  const host = u.hostname.toLowerCase();\n  const path = u.pathname || '/';\n\n  const domains = Array.isArray(source.allowed_domains) ? source.allowed_domains.map((d) => String(d || '').toLowerCase()).filter(Boolean) : [];\n  const hostAllowed = domains.some((d) => host === d || (source.include_subdomains !== false && host.endsWith('.' + d)));\n  if (!hostAllowed) return false;\n\n  const prefixes = Array.isArray(source.allowed_path_prefixes) ? source.allowed_path_prefixes : ['/'];\n  return prefixes.some((p) => {\n    const pref = String(p || '/').trim() || '/';\n    return path.startsWith(pref);\n  });\n}\n\nfunction parseRobotsTxt(content) {\n  const lines = String(content || '').split(/\\r?\\n/);\n  const blocks = [];\n  let current = null;\n\n  for (const lineRaw of lines) {\n    const line = lineRaw.split('#')[0].trim();\n    if (!line) continue;\n    const idx = line.indexOf(':');\n    if (idx < 0) continue;\n    const key = line.slice(0, idx).trim().toLowerCase();\n    const value = line.slice(idx + 1).trim();\n\n    if (key === 'user-agent') {\n      current = { agent: value.toLowerCase(), disallow: [], allow: [] };\n      blocks.push(current);\n      continue;\n    }\n\n    if (!current) continue;\n    if (key === 'disallow') current.disallow.push(value || '/');\n    if (key === 'allow') current.allow.push(value || '/');\n  }\n\n  const selected = blocks.filter((b) => b.agent === '*' || userAgent.toLowerCase().includes(b.agent));\n  const disallow = [];\n  const allow = [];\n  for (const b of selected) {\n    for (const d of b.disallow || []) disallow.push(d);\n    for (const a of b.allow || []) allow.push(a);\n  }\n  return { disallow, allow };\n}\n\nfunction robotsAllows(url, policy) {\n  if (!policy) return true;\n  const parts = parseUrlParts(url);\n  if (!parts) return false;\n  const path = parts.pathname || '/';\n  let blocked = false;\n  for (const d of policy.disallow || []) {\n    if (!d || d === '') continue;\n    if (path.startsWith(d)) blocked = true;\n  }\n  if (!blocked) return true;\n  for (const a of policy.allow || []) {\n    if (!a || a === '') continue;\n    if (path.startsWith(a)) return true;\n  }\n  return false;\n}\n\nfunction extractLinks(html, baseUrl) {\n  const links = new Set();\n  const regex = /href\\s*=\\s*['\\\"]([^'\\\"#]+)['\\\"]/gi;\n  let m;\n  while ((m = regex.exec(String(html || '')))) {\n    const n = normalizeUrl(m[1], baseUrl);\n    if (n) links.add(n);\n  }\n  return [...links];\n}\n\nfunction extractSitemapUrls(xml) {\n  const out = [];\n  const regex = /<loc>([^<]+)<\\/loc>/gi;\n  let m;\n  while ((m = regex.exec(String(xml || '')))) {\n    const n = normalizeUrl(m[1]);\n    if (n) out.push(n);\n  }\n  return out;\n}\n\nfunction scoreUrl(url) {\n  if (url.includes('.pdf')) return 2;\n  if (url.endsWith('/')) return 1;\n  return 0;\n}\n\nfunction stripHtml(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction estimateTokens(text) {\n  const chars = String(text || '').length;\n  return Math.max(1, Math.ceil(chars / 4));\n}\n\nfunction hostGroup(host) {\n  const parts = String(host || '').toLowerCase().split('.').filter(Boolean);\n  if (parts.length <= 2) return host;\n  return parts.slice(parts.length - 2).join('.');\n}\n\nfunction stableHash(inputText) {\n  const text = String(inputText || '');\n  let h = 0x811c9dc5;\n  for (let i = 0; i < text.length; i += 1) {\n    h ^= text.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nfunction contentSignature(contentTypeMain, textForEmbedding) {\n  return 'v1:' + stableHash(`${String(contentTypeMain || 'unknown')}\\n${String(textForEmbedding || '')}`);\n}\n\nfunction parseTimestamp(inputValue) {\n  const ts = Date.parse(String(inputValue || '').trim());\n  return Number.isNaN(ts) ? 0 : ts;\n}\n\nasync function fetchText(url, accept) {\n  if (!fetchFn) throw new Error('fetch is not available in n8n code runner');\n  const signal = timeoutSignal(timeoutMs);\n  const res = await fetchFn(url, {\n    method: 'GET',\n    headers: {\n      'user-agent': userAgent,\n      accept: accept || '*/*',\n    },\n    ...(signal ? { signal } : {}),\n  });\n  if (!res.ok) throw new Error('HTTP ' + res.status + ' for ' + url);\n  const contentType = String(res.headers.get('content-type') || '').toLowerCase();\n  const body = await res.text();\n  return { body, contentType };\n}\n\nasync function embedText(text) {\n  if (!embeddingEnabled || !litellmKey || !litellmUrl.startsWith('http')) {\n    return { status: embeddingEnabled ? 'not-configured' : 'disabled', usage: null };\n  }\n\n  const payload = {\n    model: embeddingModel,\n    input: text,\n  };\n\n  if (!fetchFn) throw new Error('fetch is not available in n8n code runner');\n  const signal = timeoutSignal(timeoutMs);\n  const res = await fetchFn(litellmUrl, {\n    method: 'POST',\n    headers: {\n      'content-type': 'application/json',\n      authorization: 'Bearer ' + litellmKey,\n    },\n    body: JSON.stringify(payload),\n    ...(signal ? { signal } : {}),\n  });\n\n  const raw = await res.text();\n  let parsed = {};\n  try {\n    parsed = raw ? JSON.parse(raw) : {};\n  } catch {\n    parsed = { raw };\n  }\n\n  if (!res.ok) {\n    const msg = String(parsed?.error?.message || parsed?.error || parsed?.message || raw || '').trim();\n    throw new Error(msg || ('Embedding HTTP ' + res.status));\n  }\n\n  return {\n    status: 'ok',\n    usage: parsed?.usage || null,\n  };\n}\n\nasync function checkCancelled() {\n  if (!input.run_id || !internalToken) return false;\n  if (!fetchFn) return false;\n  try {\n    const url = cancelEndpointBase + '/api/crawler/internal/runs/' + encodeURIComponent(String(input.run_id)) + '/cancelled';\n    const signal = timeoutSignal(timeoutMs);\n    const res = await fetchFn(url, {\n      method: 'GET',\n      headers: { 'x-govchat-token': internalToken },\n      ...(signal ? { signal } : {}),\n    });\n    if (!res.ok) return false;\n    const body = await res.json();\n    return body?.cancel_requested === true;\n  } catch (_) {\n    return false;\n  }\n}\n\nasync function loadLatestPageSnapshotMap() {\n  const pageMap = new Map();\n  if (!internalToken || !fetchFn) return pageMap;\n\n  try {\n    const url = cancelEndpointBase + '/api/crawler/internal/runs?limit=200';\n    const signal = timeoutSignal(timeoutMs);\n    const res = await fetchFn(url, {\n      method: 'GET',\n      headers: { 'x-govchat-token': internalToken },\n      ...(signal ? { signal } : {}),\n    });\n    if (!res.ok) return pageMap;\n\n    let payload = {};\n    if (typeof res.json === 'function') {\n      payload = await res.json();\n    } else {\n      const raw = await res.text();\n      try {\n        payload = raw ? JSON.parse(raw) : {};\n      } catch {\n        payload = {};\n      }\n    }\n\n    const runs = Array.isArray(payload?.runs) ? payload.runs : [];\n    for (const run of runs) {\n      const runTs = parseTimestamp(run?.finished_at || run?.started_at);\n      const pages = Array.isArray(run?.indexed_pages) ? run.indexed_pages : [];\n      for (const page of pages) {\n        const normalizedUrl = normalizeUrl(page?.url);\n        if (!normalizedUrl) continue;\n\n        const pageTs = parseTimestamp(page?.verified_at || page?.indexed_at) || runTs;\n        const known = pageMap.get(normalizedUrl);\n        if (known && known.ts > pageTs) continue;\n\n        pageMap.set(normalizedUrl, {\n          ts: pageTs,\n          signature: String(page?.content_signature || '').trim(),\n          content_updated_at: String(page?.content_updated_at || page?.indexed_at || run?.finished_at || '').trim() || null,\n          verified_at: String(page?.verified_at || page?.indexed_at || run?.finished_at || '').trim() || null,\n          total_tokens: Number(page?.total_tokens || page?.input_tokens_est || 0),\n        });\n      }\n    }\n  } catch (_) {\n    return pageMap;\n  }\n\n  return pageMap;\n}\n\nconst indexed_pages = [];\nconst token_usage = {\n  model: embeddingModel,\n  total_input_tokens_est: 0,\n  total_prompt_tokens: 0,\n  total_tokens: 0,\n  by_domain: {},\n  by_subwebsite: {},\n};\nconst previousPagesByUrl = await loadLatestPageSnapshotMap();\ndiagnostics.previous_snapshot_urls = previousPagesByUrl.size;\ndiagnostics.skip_embedding_for_unchanged = skipEmbeddingForUnchanged;\n\nfor (const source of sources) {\n  if (cancelRequested) break;\n  const queue = [];\n  const sourceSeen = new Set();\n\n  const rawStart = String(\n    source.start_url || source.startUrl || source.url || source.homepage || ''\n  ).trim();\n  diagnostics.source_start_candidates.push({\n    source_id: String(source.id || ''),\n    source_name: String(source.name || ''),\n    raw_start: rawStart,\n  });\n\n  const start = normalizeUrl(rawStart);\n  if (start) queue.push({ url: start, depth: 0 });\n\n  if ((!Array.isArray(source.allowed_domains) || !source.allowed_domains.length) && start) {\n    const startParts = parseUrlParts(start);\n    source.allowed_domains = startParts?.hostname ? [startParts.hostname.toLowerCase()] : [];\n  }\n\n  const sitemaps = Array.isArray(source.sitemap_urls) && source.sitemap_urls.length\n    ? source.sitemap_urls\n    : [normalizeUrl('/sitemap.xml', source.start_url)].filter(Boolean);\n\n  for (const sm of sitemaps) {\n    try {\n      const { body } = await fetchText(sm, 'application/xml,text/xml;q=0.9,*/*;q=0.8');\n      const entries = extractSitemapUrls(body)\n        .filter((u) => urlAllowed(u, source))\n        .sort((a, b) => scoreUrl(b) - scoreUrl(a));\n      for (const u of entries.slice(0, source.max_pages)) {\n        if (!sourceSeen.has(u)) {\n          sourceSeen.add(u);\n          queue.push({ url: u, depth: 0 });\n        }\n      }\n    } catch (_) {\n      // sitemap optioneel; doorgaan met start_url crawl\n    }\n  }\n\n  metrics.seed_urls += queue.length;\n  if (!queue.length) {\n    metrics.empty_seed_sources += 1;\n    diagnostics.reasons.push(\n      `Geen seed-URL voor bron '${String(source.name || source.id || source.start_url || source.startUrl || 'onbekend')}'`\n    );\n  }\n\n  let cursor = 0;\n  while (cursor < queue.length) {\n    if (globalCount >= maxPagesGlobal) break;\n    if (metrics.visited_pages >= maxPagesGlobal) break;\n\n    const item = queue[cursor++];\n    if (!item || !item.url) continue;\n    if (item.depth > source.max_depth) continue;\n    if (visited.has(item.url)) continue;\n\n    if (await checkCancelled()) {\n      cancelRequested = true;\n      break;\n    }\n\n    if (!urlAllowed(item.url, source)) {\n      metrics.outside_allowlist += 1;\n      continue;\n    }\n\n      if (respectRobots) {\n        let robotsPolicy = null;\n        try {\n          const itemParts = parseUrlParts(item.url);\n          const host = itemParts?.host || '';\n          if (!host) throw new Error('invalid item host');\n          if (robotsCache.has(host)) {\n            robotsPolicy = robotsCache.get(host);\n          } else {\n            const ru = normalizeUrl('/robots.txt', item.url);\n            if (!ru) throw new Error('invalid robots url');\n            const { body } = await fetchText(ru, 'text/plain,*/*;q=0.5');\n            robotsPolicy = parseRobotsTxt(body);\n            robotsCache.set(host, robotsPolicy);\n        }\n      } catch (_) {\n        // als robots.txt niet leesbaar is: fail-open om publieke overheidssites niet onnodig te blokkeren\n      }\n\n      if (!robotsAllows(item.url, robotsPolicy)) {\n        metrics.robots_blocked += 1;\n        continue;\n      }\n    }\n\n    try {\n      const { body, contentType } = await fetchText(item.url, 'text/html,application/pdf,application/xhtml+xml;q=0.9,*/*;q=0.5');\n      visited.add(item.url);\n      globalCount += 1;\n      metrics.visited_pages += 1;\n\n      const contentTypeMain = String(contentType || '').split(';')[0].trim().toLowerCase();\n      const typeAllowed = includeFileTypes.some((t) => contentTypeMain.startsWith(String(t).toLowerCase()));\n      if (!typeAllowed) {\n        continue;\n      }\n\n      const isHtml = contentType.includes('text/html') || contentType.includes('application/xhtml+xml');\n      const textRaw = isHtml ? stripHtml(body) : String(body || '').replace(/\\s+/g, ' ').trim();\n      const textForEmbedding = textRaw.slice(0, embeddingMaxChars);\n      const signature = contentSignature(contentTypeMain || 'unknown', textForEmbedding);\n      const inputTokensEst = estimateTokens(textForEmbedding);\n      const nowIso = new Date().toISOString();\n      const normalizedItemUrl = normalizeUrl(item.url) || item.url;\n      const previousPage = previousPagesByUrl.get(normalizedItemUrl) || null;\n      const changed = !previousPage || !previousPage.signature || previousPage.signature !== signature;\n      const verifiedAt = nowIso;\n      const contentUpdatedAt = changed\n        ? nowIso\n        : String(previousPage?.content_updated_at || previousPage?.verified_at || nowIso);\n\n      let promptTokens = 0;\n      let totalTokens = inputTokensEst;\n      let embeddingStatus = 'disabled';\n\n      if (changed) metrics.changed_pages += 1;\n      else metrics.unchanged_pages += 1;\n\n      try {\n        if (textForEmbedding) {\n          if (!changed && skipEmbeddingForUnchanged) {\n            embeddingStatus = 'skipped_unchanged';\n            promptTokens = 0;\n            totalTokens = 0;\n            metrics.embedding_skipped_unchanged += 1;\n          } else {\n            const emb = await embedText(textForEmbedding);\n            embeddingStatus = emb.status;\n            if (emb.status === 'ok') {\n              metrics.embedding_calls += 1;\n              promptTokens = Number(emb.usage?.prompt_tokens || inputTokensEst || 0);\n              totalTokens = Number(emb.usage?.total_tokens || promptTokens || inputTokensEst || 0);\n            }\n          }\n        }\n      } catch (err) {\n        embeddingStatus = 'error';\n        metrics.embedding_errors += 1;\n      }\n\n      const u = parseUrlParts(item.url);\n      if (!u) {\n        metrics.fetch_errors += 1;\n        continue;\n      }\n      const domain = hostGroup(u.hostname);\n      const subwebsite = u.hostname.toLowerCase();\n\n      const page = {\n        source_id: source.id,\n        source_name: source.name,\n        url: item.url,\n        domain,\n        subwebsite,\n        path: u.pathname || '/',\n        verified_at: verifiedAt,\n        indexed_at: nowIso,\n        content_updated_at: contentUpdatedAt,\n        content_signature: signature,\n        is_changed: changed,\n        content_type: contentTypeMain || 'unknown',\n        chars_indexed: textForEmbedding.length,\n        input_tokens_est: inputTokensEst,\n        prompt_tokens: promptTokens,\n        total_tokens: totalTokens,\n        embedding_model: embeddingModel,\n        embedding_status: embeddingStatus,\n      };\n\n      indexed_pages.push(page);\n      metrics.indexed_items += 1;\n      previousPagesByUrl.set(normalizedItemUrl, {\n        ts: parseTimestamp(verifiedAt),\n        signature,\n        content_updated_at: contentUpdatedAt,\n        verified_at: verifiedAt,\n        total_tokens: totalTokens,\n      });\n\n      token_usage.total_input_tokens_est += inputTokensEst;\n      token_usage.total_prompt_tokens += promptTokens;\n      token_usage.total_tokens += totalTokens;\n\n      if (!token_usage.by_domain[domain]) {\n        token_usage.by_domain[domain] = { pages: 0, total_tokens: 0, prompt_tokens: 0, input_tokens_est: 0 };\n      }\n      token_usage.by_domain[domain].pages += 1;\n      token_usage.by_domain[domain].total_tokens += totalTokens;\n      token_usage.by_domain[domain].prompt_tokens += promptTokens;\n      token_usage.by_domain[domain].input_tokens_est += inputTokensEst;\n\n      if (!token_usage.by_subwebsite[subwebsite]) {\n        token_usage.by_subwebsite[subwebsite] = { pages: 0, total_tokens: 0, prompt_tokens: 0, input_tokens_est: 0 };\n      }\n      token_usage.by_subwebsite[subwebsite].pages += 1;\n      token_usage.by_subwebsite[subwebsite].total_tokens += totalTokens;\n      token_usage.by_subwebsite[subwebsite].prompt_tokens += promptTokens;\n      token_usage.by_subwebsite[subwebsite].input_tokens_est += inputTokensEst;\n\n      if (isHtml) {\n        const links = extractLinks(body, item.url);\n        for (const link of links) {\n          if (!urlAllowed(link, source)) {\n            metrics.outside_allowlist += 1;\n            continue;\n          }\n          if (!sourceSeen.has(link) && !visited.has(link) && item.depth + 1 <= source.max_depth) {\n            sourceSeen.add(link);\n            queue.push({ url: link, depth: item.depth + 1 });\n            metrics.discovered_links += 1;\n          }\n        }\n      }\n\n      if (metrics.visited_pages >= source.max_pages) break;\n    } catch (err) {\n      metrics.fetch_errors += 1;\n      if (!diagnostics.first_fetch_error) {\n        diagnostics.first_fetch_error = {\n          name: String(err?.name || 'Error'),\n          message: String(err?.message || err || 'Onbekende fetch-fout'),\n        };\n      }\n    }\n  }\n}\n\nconst finalStatus = cancelRequested ? 'cancelled' : 'finished';\nconst finishedAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    ...input,\n    skip_run: false,\n    status: finalStatus,\n    finished_at: finishedAt,\n    summary: {\n      ...(input.summary || {}),\n      ...metrics,\n      cancel_requested: cancelRequested,\n      diagnostics,\n      warning: metrics.visited_pages === 0\n        ? (diagnostics.first_fetch_error?.message\n            ? `Fetch-fout: ${diagnostics.first_fetch_error.message}`\n            : diagnostics.reasons.length\n            ? diagnostics.reasons.join(' | ')\n            : 'Geen pagina\\'s bezocht. Controleer start_url, domein allowlist en robots.txt')\n        : null,\n    },\n    indexed_pages,\n    token_usage,\n  },\n}];\n"
        },
        "id": "RunCrawler",
        "name": "Run Crawler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -180,
          360
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ ($env.CRAWLER_ADMIN_BASE_URL || 'http://govchat-overlay-admin:3002').replace(/\\/$/, '') + '/api/crawler/internal/runs' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-govchat-token",
                "value": "={{ $env.CRAWLER_INTERNAL_TOKEN || $env.N8N_WEBHOOK_TOKEN || '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({ run_id: $json.run_id, status: 'skipped', trigger: $json.trigger, started_at: $json.started_at, finished_at: $json.finished_at, summary: $json.summary, error: $json.skip_reason || $json.error || null }) }}",
          "options": {
            "timeout": 20000
          }
        },
        "id": "PersistSkippedRun",
        "name": "Persist Skipped Run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -180,
          100
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ ($env.CRAWLER_ADMIN_BASE_URL || 'http://govchat-overlay-admin:3002').replace(/\\/$/, '') + '/api/crawler/internal/runs' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-govchat-token",
                "value": "={{ $env.CRAWLER_INTERNAL_TOKEN || $env.N8N_WEBHOOK_TOKEN || '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({ run_id: $json.run_id, status: 'finished', trigger: $json.trigger, started_at: $json.started_at, finished_at: $json.finished_at, summary: $json.summary, indexed_pages: $json.indexed_pages || [], token_usage: $json.token_usage || {}, error: $json.error || null }) }}",
          "options": {
            "timeout": 20000
          }
        },
        "id": "PersistFinishedRun",
        "name": "Persist Finished Run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          40,
          360
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Prepare Crawler Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook GovCrawler Run": {
        "main": [
          [
            {
              "node": "Prepare Crawler Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Crawler Run": {
        "main": [
          [
            {
              "node": "Load Crawler Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Crawler Config": {
        "main": [
          [
            {
              "node": "Validate Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Config": {
        "main": [
          [
            {
              "node": "Skip run?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip run?": {
        "main": [
          [
            {
              "node": "Run Crawler",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Persist Skipped Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Crawler": {
        "main": [
          [
            {
              "node": "Persist Finished Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "4e749e7e-b3fc-4e5b-90ac-98ed93a8dd01",
    "activeVersionId": "4e749e7e-b3fc-4e5b-90ac-98ed93a8dd01",
    "versionCounter": 1,
    "triggerCount": 2,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
