n8n/bootstrap/workflows/image-generator-litellm.json
[
  {
    "updatedAt": "2026-07-02T13:22:36.192Z",
    "createdAt": "2026-07-01T15:20:28.655Z",
    "id": "govchat-image-generator-litellm",
    "name": "GovChat Image Generator",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "ExecuteWorkflowTriggerImage",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -980,
          40
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "image-generator",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "WebhookImageGenerator",
        "name": "Webhook Image Generator",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -980,
          220
        ],
        "webhookId": "govchat-image-generator"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json || {};\nconst isObj = (v) => v && typeof v === 'object' && !Array.isArray(v);\nconst asString = (v) => (typeof v === 'string' ? v.trim() : '');\n\nconst body = isObj(raw.body) ? raw.body : raw;\nconst headers = isObj(raw.headers) ? raw.headers : {};\n\nconst expectedToken = String($env.N8N_WEBHOOK_TOKEN || '').trim();\nconst hasWebhookShape = !!raw.body || Object.keys(headers).length > 0;\n\nif (hasWebhookShape) {\n  const headerToken = String(headers['x-govchat-token'] || headers['X-Govchat-Token'] || '').trim();\n  const authHeader = String(headers.authorization || headers.Authorization || '').trim();\n  const bearerToken = authHeader.toLowerCase().startsWith('bearer ')\n    ? authHeader.slice(7).trim()\n    : '';\n  const suppliedToken = headerToken || bearerToken;\n\n  if (!expectedToken) throw new Error('Server misconfiguratie: N8N_WEBHOOK_TOKEN ontbreekt');\n  if (!suppliedToken || suppliedToken !== expectedToken) throw new Error('Unauthorized webhook token');\n}\n\nfunction fromMessages(messages) {\n  if (!Array.isArray(messages) || !messages.length) return '';\n  for (let i = messages.length - 1; i >= 0; i--) {\n    const m = messages[i] || {};\n    const direct = asString(m.content) || asString(m.text) || asString(m.prompt) || asString(m.input);\n    if (direct) return direct;\n    if (Array.isArray(m.content)) {\n      const joined = m.content\n        .map((part) => {\n          if (!part) return '';\n          if (typeof part === 'string') return part;\n          return asString(part.text) || asString(part.content) || '';\n        })\n        .filter(Boolean)\n        .join(' ')\n        .trim();\n      if (joined) return joined;\n    }\n  }\n  return '';\n}\n\nconst candidates = [\n  asString(body.prompt),\n  asString(body.text),\n  asString(body.input),\n  asString(body.query),\n  asString(body.message),\n  asString(body.user_input),\n  asString(body.request),\n  asString(body.instruction),\n  isObj(body.data) ? asString(body.data.prompt) || asString(body.data.text) || asString(body.data.input) : '',\n  isObj(body.arguments)\n    ? asString(body.arguments.prompt) || asString(body.arguments.text) || asString(body.arguments.input)\n    : '',\n  isObj(body.args) ? asString(body.args.prompt) || asString(body.args.text) || asString(body.args.input) : '',\n  isObj(raw.toolInput)\n    ? asString(raw.toolInput.prompt) || asString(raw.toolInput.text) || asString(raw.toolInput.input)\n    : '',\n  isObj(raw.input) ? asString(raw.input.prompt) || asString(raw.input.text) || asString(raw.input.input) : '',\n  isObj(raw.parameters)\n    ? asString(raw.parameters.prompt) || asString(raw.parameters.text) || asString(raw.parameters.input)\n    : '',\n  fromMessages(body.messages),\n  fromMessages(raw.messages),\n].filter(Boolean);\n\nconst prompt = (candidates[0] || '').trim();\nif (!prompt) {\n  const hint = Object.keys(body).slice(0, 12).join(',');\n  throw new Error('Afbeelding-tool vereist een prompt (ontvangen keys: ' + hint + ')');\n}\n\nconst requestedSize = (asString(body.size) || asString(raw.size) || '').toLowerCase();\nconst requestedQuality = (asString(body.quality) || asString(raw.quality) || '').toLowerCase();\nconst enabled = String($env.N8N_ENABLE_IMAGE_TOOL || 'false').toLowerCase() === 'true';\nif (!enabled) throw new Error('Afbeelding-generatie staat uit (N8N_ENABLE_IMAGE_TOOL=false)');\n\nconst baseRaw = String($env.N8N_LITELLM_IMAGE_BASE_URL || $env.LITELLM_URL || 'http://litellm:4000').trim();\nconst apiBase = baseRaw.endsWith('/') ? baseRaw.slice(0, -1) : baseRaw;\nconst apiKey = String($env.N8N_LITELLM_IMAGE_API_KEY || $env.LITELLM_API_KEY || '').trim();\nconst model = String($env.N8N_LITELLM_IMAGE_MODEL || 'gpt-image-1').trim();\nconst apiVersion = String($env.N8N_LITELLM_IMAGE_API_VERSION || '2024-02-01').trim();\n\nif (!enabled) {\n  return [{\n    json: {\n      image_disabled: true,\n      disabled_reason: 'Afbeelding-generatie staat uit (N8N_ENABLE_IMAGE_TOOL=false).',\n      // Call node draait met continueOnFail=true en zal op deze URL direct falen,\n      // waarna Build Image Response een nette, niet-fatale melding teruggeeft.\n      generateUrl: 'http://127.0.0.1:9/disabled',\n      requestBody: {},\n      apiKey: '',\n      isAzureDeploymentPath: false,\n      prompt,\n      size,\n      quality,\n      model,\n      apiBase,\n    },\n  }];\n}\n\nif (!apiKey) throw new Error('LITELLM_API_KEY ontbreekt');\n\nconst modelLc = model.toLowerCase();\nconst isGptImage = modelLc.includes('gpt-image');\nconst isDalle3 = modelLc.includes('dall-e-3');\nconst isDalle2 = modelLc.includes('dall-e-2');\n\nfunction normalizeQuality(input) {\n  if (isGptImage) {\n    const allowed = new Set(['auto', 'low', 'medium', 'high']);\n    if (!input || input === 'standard') return 'auto';\n    if (input === 'hd') return 'high';\n    return allowed.has(input) ? input : 'auto';\n  }\n\n  if (isDalle3) {\n    const allowed = new Set(['standard', 'hd']);\n    if (!input || input === 'auto') return 'standard';\n    if (input === 'low' || input === 'medium') return 'standard';\n    if (input === 'high') return 'hd';\n    return allowed.has(input) ? input : 'standard';\n  }\n\n  if (isDalle2) {\n    return 'standard';\n  }\n\n  return input || 'auto';\n}\n\nfunction normalizeSize(input) {\n  if (isGptImage) {\n    const allowed = new Set(['auto', '1024x1024', '1536x1024', '1024x1536']);\n    return allowed.has(input) ? input : 'auto';\n  }\n\n  if (isDalle3) {\n    const allowed = new Set(['1024x1024', '1792x1024', '1024x1792']);\n    return allowed.has(input) ? input : '1024x1024';\n  }\n\n  if (isDalle2) {\n    const allowed = new Set(['256x256', '512x512', '1024x1024']);\n    return allowed.has(input) ? input : '1024x1024';\n  }\n\n  return input || '1024x1024';\n}\n\nconst size = normalizeSize(requestedSize);\nconst quality = normalizeQuality(requestedQuality);\n\nconst isAzureDeploymentPath = apiBase.toLowerCase().includes('/openai/deployments/');\nconst generateUrl = isAzureDeploymentPath\n  ? apiBase + '/images/generations?api-version=' + encodeURIComponent(apiVersion)\n  : apiBase + '/v1/images/generations';\n\nconst requestBody = isAzureDeploymentPath\n  ? { prompt, size, quality }\n  : { model, prompt, size, quality };\n\nreturn [{\n  json: {\n    prompt,\n    size,\n    quality,\n    model,\n    apiBase,\n    apiKey,\n    isAzureDeploymentPath,\n    generateUrl,\n    requestBody,\n  },\n}];"
        },
        "id": "PrepareImageRequest",
        "name": "Prepare Image Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -740,
          220
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.generateUrl }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "={{ $json.isAzureDeploymentPath ? '' : ('Bearer ' + $json.apiKey) }}"
              },
              {
                "name": "api-key",
                "value": "={{ $json.isAzureDeploymentPath ? $json.apiKey : '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {
            "timeout": 180000
          }
        },
        "id": "CallImageApi",
        "name": "Call Images API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -480,
          220
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const arr = Array.isArray($json.data) ? $json.data : [];\nconst first = arr[0] || {};\n\nif ($json.image_disabled || $json.disabled_reason) {\n  return [{\n    json: {\n      response: 'Afbeelding-generatie is momenteel uitgeschakeld door de beheerder.',\n      image_url: null,\n      has_base64: false,\n      image_disabled: true,\n    },\n  }];\n}\n\nif ($json.error) {\n  const message = String($json.error?.message || $json.error || '').trim();\n  return [{\n    json: {\n      response: message ? 'Afbeelding-generatie mislukt: ' + message : 'Afbeelding-generatie mislukt.',\n      image_url: null,\n      has_base64: false,\n      image_error: true,\n    },\n  }];\n}\n\nconst httpUrl = String(first.url || '').trim();\nconst b64 = String(first.b64_json || '').trim();\nconst publicBase = String($env.PUBLIC_BASE_URL || '').replace(/\\/$/, '');\n\nif (httpUrl) {\n  const markdown = '![gegenereerde afbeelding](' + httpUrl + ')';\n  return [{\n    json: {\n      response: markdown,\n      image_url: httpUrl,\n      markdown,\n      has_base64: false,\n    },\n  }];\n}\n\nif (b64) {\n  const fs = require('fs');\n  const path = require('path');\n  const crypto = require('crypto');\n  const fileName = 'generated-' + Date.now() + '-' + crypto.randomUUID() + '.png';\n  const outDir = '/shared-images';\n  fs.mkdirSync(outDir, { recursive: true });\n  const outPath = path.join(outDir, fileName);\n  fs.writeFileSync(outPath, Buffer.from(b64, 'base64'));\n\n  const imageUrl = publicBase\n    ? publicBase + '/images/' + fileName\n    : '/images/' + fileName;\n  const markdown = '![gegenereerde afbeelding](' + imageUrl + ')';\n\n  return [{\n    json: {\n      response: markdown,\n      image_url: imageUrl,\n      markdown,\n      has_base64: true,\n      base64_length: b64.length,\n      stored_file: fileName,\n    },\n  }];\n}\n\nthrow new Error('Geen afbeelding URL/b64 ontvangen van image API');"
        },
        "id": "BuildImageResponse",
        "name": "Build Image Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -220,
          220
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Prepare Image Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Image Generator": {
        "main": [
          [
            {
              "node": "Prepare Image Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Image Request": {
        "main": [
          [
            {
              "node": "Call Images API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Images API": {
        "main": [
          [
            {
              "node": "Build Image Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "a6e8f0c2-46ad-4918-8c78-c59e0d69bdfd",
    "activeVersionId": "a6e8f0c2-46ad-4918-8c78-c59e0d69bdfd",
    "versionCounter": 1,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-01T15:20:28.655Z",
        "createdAt": "2026-07-01T15:20:28.655Z",
        "role": "workflow:owner",
        "workflowId": "govchat-image-generator-litellm",
        "projectId": "JQoh5TKzBgHHnvmR",
        "project": {
          "updatedAt": "2026-07-01T15:20:21.347Z",
          "createdAt": "2026-06-16T13:12:34.208Z",
          "id": "JQoh5TKzBgHHnvmR",
          "name": "GovChat Admin <admin@test.nl>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "6aadd2b7-1ab4-453d-bbb5-71f0909e04d1"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]