n8n/bootstrap/workflows/orchestrator-litellm.json
[
  {
    "updatedAt": "2026-07-02T13:22:34.615Z",
    "createdAt": "2026-07-01T15:20:26.966Z",
    "id": "govchat-orchestrator-litellm",
    "name": "GovChat Orchestrator (AI Agent)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "orchestrator",
          "responseMode": "streaming",
          "options": {}
        },
        "id": "WebhookOrchestrator",
        "name": "Webhook Orchestrator",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1060,
          240
        ],
        "webhookId": "govchat-orchestrator"
      },
      {
        "parameters": {
          "jsCode": "const isObj = (v) => v && typeof v === 'object' && !Array.isArray(v);\n\nconst raw = isObj($json) ? $json : {};\n\nfunction resolvePayload(source) {\n  let cur = isObj(source) ? source : {};\n  for (let i = 0; i < 6; i++) {\n    if (Array.isArray(cur.messages)) {\n      return { payload: cur, shape: i === 0 ? 'root.messages' : 'nested.body.messages' };\n    }\n    if (isObj(cur.body)) {\n      cur = cur.body;\n      continue;\n    }\n    break;\n  }\n  return {\n    payload: isObj(source.body) ? source.body : source,\n    shape: 'fallback',\n  };\n}\n\nconst resolved = resolvePayload(raw);\nconst payload = isObj(resolved.payload) ? resolved.payload : {};\nconst messages = Array.isArray(payload.messages) ? payload.messages : [];\n\nconst parsePositiveInt = (value, fallback) => {\n  const n = Number.parseInt(String(value ?? '').trim(), 10);\n  return Number.isFinite(n) && n > 0 ? n : fallback;\n};\n\nconst fallbackMaxChars = parsePositiveInt($env.N8N_ORCHESTRATOR_IMAGE_DATA_URL_MAX_CHARS, 450000);\nconst fallbackMaxResolutionPx = parsePositiveInt($env.N8N_ORCHESTRATOR_IMAGE_MAX_RESOLUTION_PX, 1568);\nconst overlayBaseUrl = String($env.CRAWLER_ADMIN_BASE_URL || 'http://govchat-overlay-admin:3002').replace(/\\/$/, '');\nconst overlayConfigUrl = overlayBaseUrl + '/api/config/orchestrator';\nconst overlayNormalizeUrl = overlayBaseUrl + '/api/config/orchestrator/normalize-image';\n\nconst hasFetch = typeof fetch === 'function';\nconst http = require('http');\nconst https = require('https');\nconst { URL } = require('url');\n\nfunction requestRaw(url, opts = {}) {\n  if (hasFetch) {\n    return fetch(url, opts).then(async (res) => ({\n      ok: res.ok,\n      status: Number(res.status || 0),\n      text: await res.text(),\n    }));\n  }\n\n  return new Promise((resolve, reject) => {\n    try {\n      const target = new URL(String(url));\n      const lib = target.protocol === 'https:' ? https : http;\n      const method = String(opts.method || 'GET').toUpperCase();\n      const headers = isObj(opts.headers) ? opts.headers : {};\n      const body = typeof opts.body === 'string' ? opts.body : '';\n\n      const req = lib.request(\n        {\n          protocol: target.protocol,\n          hostname: target.hostname,\n          port: target.port || (target.protocol === 'https:' ? 443 : 80),\n          path: target.pathname + target.search,\n          method,\n          headers: {\n            ...headers,\n            ...(body ? { 'content-length': Buffer.byteLength(body, 'utf8') } : {}),\n          },\n        },\n        (res) => {\n          const chunks = [];\n          res.on('data', (d) => chunks.push(Buffer.from(d)));\n          res.on('end', () => {\n            const text = Buffer.concat(chunks).toString('utf8');\n            const status = Number(res.statusCode || 0);\n            resolve({ ok: status >= 200 && status < 300, status, text });\n          });\n        },\n      );\n\n      req.on('error', reject);\n      if (body) req.write(body);\n      req.end();\n    } catch (e) {\n      reject(e);\n    }\n  });\n}\n\nasync function requestJson(url, opts = {}) {\n  const r = await requestRaw(url, opts);\n  if (!r.ok) {\n    const err = new Error('HTTP ' + r.status);\n    err.status = r.status;\n    err.body = r.text;\n    throw err;\n  }\n  try {\n    return JSON.parse(String(r.text || '{}'));\n  } catch {\n    return {};\n  }\n}\n\nlet configuredMaxChars = fallbackMaxChars;\nlet configuredMaxResolutionPx = fallbackMaxResolutionPx;\n\ntry {\n  const cfg = await requestJson(overlayConfigUrl, { method: 'GET' });\n  configuredMaxChars = parsePositiveInt(cfg && cfg.image_data_url_max_chars, fallbackMaxChars);\n  configuredMaxResolutionPx = parsePositiveInt(cfg && cfg.image_max_resolution_px, fallbackMaxResolutionPx);\n} catch (_) {}\n\nlet imageParts = 0;\nlet normalizedParts = 0;\nlet unchangedParts = 0;\nlet normalizationErrors = 0;\n\nconst normalizedMessages = [];\n\nfor (const m of messages) {\n  if (!Array.isArray(m && m.content)) {\n    normalizedMessages.push(m);\n    continue;\n  }\n\n  const nextContent = [];\n  for (const part of m.content) {\n    if (!part || typeof part !== 'object') {\n      nextContent.push(part);\n      continue;\n    }\n\n    const type = String(part.type || '').toLowerCase();\n    if (type !== 'image_url' && type !== 'input_image' && type !== 'image') {\n      nextContent.push(part);\n      continue;\n    }\n\n    imageParts += 1;\n\n    const imageUrlValue =\n      typeof part.image_url === 'string'\n        ? part.image_url\n        : (part.image_url && typeof part.image_url.url === 'string' ? part.image_url.url : '');\n\n    if (!imageUrlValue.startsWith('data:')) {\n      unchangedParts += 1;\n      nextContent.push(part);\n      continue;\n    }\n\n    try {\n      const normPayload = await requestJson(overlayNormalizeUrl, {\n        method: 'POST',\n        headers: { 'content-type': 'application/json' },\n        body: JSON.stringify({\n          image_data_url: imageUrlValue,\n          max_chars: configuredMaxChars,\n          max_resolution_px: configuredMaxResolutionPx,\n        }),\n      });\n\n      const normalizedDataUrl = String(normPayload?.image_data_url || '').trim();\n      if (!normalizedDataUrl.startsWith('data:')) {\n        normalizationErrors += 1;\n        nextContent.push(part);\n        continue;\n      }\n\n      if (normalizedDataUrl === imageUrlValue) {\n        unchangedParts += 1;\n        nextContent.push(part);\n        continue;\n      }\n\n      normalizedParts += 1;\n      if (typeof part.image_url === 'string') {\n        nextContent.push({ ...part, image_url: normalizedDataUrl });\n      } else {\n        nextContent.push({\n          ...part,\n          image_url: { ...(part.image_url || {}), url: normalizedDataUrl },\n        });\n      }\n    } catch (_) {\n      normalizationErrors += 1;\n      nextContent.push(part);\n    }\n  }\n\n  normalizedMessages.push({ ...m, content: nextContent });\n}\n\nlet precomputedResponse = '';\nlet visionCallStatus = 'skipped';\n\nif (imageParts > 0) {\n  try {\n    const base = String($env.LITELLM_URL || 'http://litellm:4000').replace(/\\/$/, '') + '/v1/chat/completions';\n    const apiKey = String($env.LITELLM_API_KEY || $env.N8N_LITELLM_IMAGE_API_KEY || '').trim();\n    const model = String($env.N8N_ORCHESTRATOR_VISION_MODEL || 'gpt-5.4').trim() || 'gpt-5.4';\n\n    if (!apiKey) {\n      visionCallStatus = 'no_api_key';\n      precomputedResponse = 'Ik heb een afbeelding ontvangen, maar de vision-configuratie ontbreekt (API key niet gezet).';\n    } else {\n      const r = await requestRaw(base, {\n        method: 'POST',\n        headers: {\n          'content-type': 'application/json',\n          authorization: 'Bearer ' + apiKey,\n        },\n        body: JSON.stringify({ model, messages: normalizedMessages, temperature: 0.2 }),\n      });\n\n      if (r.ok) {\n        let payloadResp = {};\n        try {\n          payloadResp = JSON.parse(String(r.text || '{}'));\n        } catch {\n          payloadResp = {};\n        }\n        const msg = payloadResp?.choices?.[0]?.message;\n        const content = msg?.content;\n\n        if (typeof content === 'string') {\n          precomputedResponse = content.trim();\n        } else if (Array.isArray(content)) {\n          precomputedResponse = content\n            .map((part) => {\n              if (!part) return '';\n              if (typeof part === 'string') return part;\n              const t = String(part.type || '').toLowerCase();\n              if (t === 'text' || t === 'output_text' || t === 'input_text') return String(part.text || '');\n              return '';\n            })\n            .filter(Boolean)\n            .join(' ')\n            .trim();\n        }\n\n        visionCallStatus = precomputedResponse ? 'ok' : 'empty';\n      } else {\n        const errLc = String(r.text || '').toLowerCase();\n        if (errLc.includes('unsupported image') || errLc.includes('unsupported') || errLc.includes('badrequesterror')) {\n          visionCallStatus = 'unsupported_image_or_model';\n          precomputedResponse = 'Ik heb de afbeelding ontvangen, maar het geconfigureerde model ondersteunt deze image-analyse niet. Configureer een vision-capabel model alias in LiteLLM en zet N8N_ORCHESTRATOR_VISION_MODEL daarop.';\n        } else if (errLc.includes('authentication') || errLc.includes('unauthorized') || errLc.includes('api key')) {\n          visionCallStatus = 'auth_error';\n          precomputedResponse = 'Ik heb de afbeelding ontvangen, maar de vision-configuratie faalt op authenticatie (API key/model toegang).';\n        } else {\n          visionCallStatus = 'http_' + String(r.status || 'error');\n          precomputedResponse = 'Ik heb een afbeelding ontvangen, maar de vision-aanroep faalde (HTTP ' + String(r.status || 'onbekend') + ').';\n        }\n      }\n    }\n  } catch (e) {\n    const msg = String(e && e.message ? e.message : e || '').trim();\n    const lc = msg.toLowerCase();\n    if (lc.includes('unsupported') || lc.includes('invalid image') || lc.includes('badrequesterror')) {\n      visionCallStatus = 'unsupported_image_or_model';\n      precomputedResponse = 'Ik heb de afbeelding ontvangen, maar het geconfigureerde model ondersteunt deze image-analyse niet. Configureer een vision-capabel model alias in LiteLLM en zet N8N_ORCHESTRATOR_VISION_MODEL daarop.';\n    } else {\n      visionCallStatus = msg ? ('error_' + msg.slice(0, 120)) : 'error';\n      precomputedResponse = 'Ik heb een afbeelding ontvangen, maar de vision-aanroep gaf een fout' + (msg ? ' (' + msg + ')' : '') + '.';\n    }\n  }\n}\n\nconst mergedBody = {\n  ...payload,\n  messages: normalizedMessages,\n};\n\nreturn [{\n  json: {\n    ...raw,\n    precomputed_response: precomputedResponse || undefined,\n    body: mergedBody,\n    imageCap: {\n      maxChars: configuredMaxChars,\n      maxResolutionPx: configuredMaxResolutionPx,\n      imageParts,\n      normalizedParts,\n      unchangedParts,\n      normalizationErrors,\n      visionCallStatus,\n      source: overlayConfigUrl,\n      inputShape: resolved.shape,\n      passthrough: true,\n      reason: 'Normalize image payload and precompute multimodal answer when image is attached',\n    },\n  },\n}];"
        },
        "id": "DetectImageMessages",
        "name": "Detect Image Messages",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -860,
          240
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ (() => { if (typeof $json.precomputed_response === 'string' && $json.precomputed_response.trim()) { return '[FINAL_ANSWER]\\n' + $json.precomputed_response.trim(); } const msgs = Array.isArray($json.body?.messages) ? $json.body.messages : (Array.isArray($json.messages) ? $json.messages : []); if (msgs.length) { return msgs.map((m) => { const role = String(m?.role || 'user'); const content = Array.isArray(m?.content) ? m.content.map((part) => { if (!part) return ''; if (typeof part === 'string') return part; const t = String(part.type || '').toLowerCase(); if (t === 'text' || t === 'input_text') return String(part.text || part.content || ''); return ''; }).filter(Boolean).join(' ') : (typeof m?.content === 'string' ? m.content : ''); return `[${role}] ${String(content || '').trim()}`.trim(); }).filter(Boolean).join('\\n'); } return String($json.body?.text || $json.text || $json.body?.prompt || $json.prompt || $json.body?.input || $json.input || ''); })() }}",
          "hasOutputParser": false,
          "options": {
            "systemMessage": "Je bent de GovChat Orchestrator voor overheidscommunicatie. Gebruik de beschikbare tool wanneer de gebruiker vraagt om versimpelen naar B1 (of vergelijkbare verzoeken zoals vereenvoudigen/herformuleren op taalniveau). Gebruik de afbeelding-tool wanneer de gebruiker expliciet vraagt om een afbeelding/generatie van beeldmateriaal. Gebruik voor overige vragen je eigen redeneervermogen en geef een direct antwoord. Houd antwoorden feitelijk en voeg geen ongefundeerde informatie toe. Als de afbeelding-tool output markdown bevat (bijv. ![...](...)), geef exact die markdown terug als eindantwoord zonder extra tekst. Als de input begint met [FINAL_ANSWER], geef exact alles ná dit label terug als eindantwoord zonder extra tekst.",
            "enableStreaming": true,
            "maxIterations": 8
          }
        },
        "id": "AIAgentOrchestrator",
        "name": "AI Agent Orchestrator",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -560,
          240
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5.4"
          },
          "options": {
            "baseURL": "={{ (String($env.LITELLM_URL || 'http://litellm:4000').replace(/\\/$/, '')) + '/v1' }}"
          }
        },
        "id": "ChatModelOrchestrator",
        "name": "OpenAI Chat Model (Orchestrator)",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "credentials": {
          "openAiApi": {
            "id": "00000000-0000-4000-8000-000000000111",
            "name": "LiteLLM API"
          }
        },
        "position": [
          -560,
          80
        ]
      },
      {
        "parameters": {
          "description": "Gebruik deze tool ALLEEN om tekst te versimpelen naar B1. Input moet de originele tekst zijn. De tool retourneert JSON met veld 'text'. Geef de tool-output rechtstreeks terug zonder extra uitleg.",
          "source": "parameter",
          "workflowJson": "={{ JSON.stringify({\n  id: 'inline-versimpelaar-tool',\n  name: 'Inline Versimpelaar Tool',\n  nodes: [\n    {\n      id: 'execTrigger',\n      name: 'When Executed by Another Workflow',\n      type: 'n8n-nodes-base.executeWorkflowTrigger',\n      typeVersion: 1,\n      position: [-420, 120],\n      parameters: {}\n    },\n    {\n      id: 'toolCode1',\n      name: 'Prepare Tool Request',\n      type: 'n8n-nodes-base.code',\n      typeVersion: 2,\n      position: [-180, 120],\n      parameters: {\n        jsCode: \"const input = $json || {};\\nconst text = String(input.text || input.input || input.prompt || '').trim();\\nif (!text) throw new Error('Tool input moet veld text bevatten');\\nconst token = String($env.N8N_WEBHOOK_TOKEN || '').trim();\\nif (!token) throw new Error('N8N_WEBHOOK_TOKEN ontbreekt');\\nreturn [{ json: { text, token } }];\"\n      }\n    },\n    {\n      id: 'toolHttp',\n      name: 'Call Versimpelaar Webhook',\n      type: 'n8n-nodes-base.httpRequest',\n      typeVersion: 4.2,\n      position: [80, 120],\n      parameters: {\n        method: 'POST',\n        url: '=http://n8n:5678/webhook/versimpelaar',\n        sendHeaders: true,\n        headerParameters: {\n          parameters: [\n            { name: 'Content-Type', value: 'application/json' },\n            { name: 'x-govchat-token', value: '={{$json.token}}' }\n          ]\n        },\n        sendBody: true,\n        specifyBody: 'json',\n        jsonBody: '={{ JSON.stringify({ text: $json.text }) }}',\n        options: { timeout: 120000 }\n      }\n    },\n    {\n      id: 'toolCode2',\n      name: 'Build Tool Response',\n      type: 'n8n-nodes-base.code',\n      typeVersion: 2,\n      position: [320, 120],\n      parameters: {\n        jsCode: \"const text = String($json.text || $json.output || $json.result || '').trim();\\nif (!text) throw new Error('Versimpelaar gaf geen tekst terug');\\nreturn [{ json: { response: text } }];\"\n      }\n    }\n  ],\n  connections: {\n    'When Executed by Another Workflow': { main: [[{ node: 'Prepare Tool Request', type: 'main', index: 0 }]] },\n    'Prepare Tool Request': { main: [[{ node: 'Call Versimpelaar Webhook', type: 'main', index: 0 }]] },\n    'Call Versimpelaar Webhook': { main: [[{ node: 'Build Tool Response', type: 'main', index: 0 }]] }\n  }\n}) }}"
        },
        "id": "ToolVersimpelaarB1",
        "name": "versimpelaar_b1_tool",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -340,
          80
        ]
      },
      {
        "parameters": {
          "description": "Gebruik deze tool ALLEEN als de gebruiker expliciet om een afbeelding vraagt. Input bevat minimaal een prompt. Optioneel: size (bijv. 1024x1024), quality (standard|hd).",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "govchat-image-generator-litellm"
          }
        },
        "id": "ToolImageGeneration",
        "name": "image_generation_tool",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -340,
          340
        ]
      }
    ],
    "connections": {
      "Webhook Orchestrator": {
        "main": [
          [
            {
              "node": "Detect Image Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Image Messages": {
        "main": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Orchestrator)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "versimpelaar_b1_tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "image_generation_tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Orchestrator",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Orchestrator": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": {},
    "versionId": "c8fa555e-e72e-42eb-aea7-1fa3a40006ba",
    "activeVersionId": "c8fa555e-e72e-42eb-aea7-1fa3a40006ba",
    "versionCounter": 4,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-01T15:20:26.966Z",
        "createdAt": "2026-07-01T15:20:26.966Z",
        "role": "workflow:owner",
        "workflowId": "govchat-orchestrator-litellm",
        "projectId": "JQoh5TKzBgHHnvmR",
        "project": {
          "updatedAt": "2026-07-01T15:20:21.347Z",
          "createdAt": "2026-06-16T13:12:34.208Z",
          "id": "JQoh5TKzBgHHnvmR",
          "name": "GovChat Admin <admin@test.nl>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "6aadd2b7-1ab4-453d-bbb5-71f0909e04d1"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]