n8n/bootstrap/workflows/versimpelaar-litellm.json
{
  "id": "govchat-versimpelaar-b1-litellm",
  "name": "GovChat Versimpelaar B1 (AI Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "versimpelaar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookVersimpelaar",
      "name": "Webhook Versimpelaar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        180
      ],
      "webhookId": "govchat-versimpelaar"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst headers = $json.headers || {};\n\nconst suppliedToken = String(headers['x-govchat-token'] || headers['X-Govchat-Token'] || '').trim();\nconst expectedToken = String($env.N8N_WEBHOOK_TOKEN || '').trim();\n\nif (!expectedToken) throw new Error('Server misconfiguratie: N8N_WEBHOOK_TOKEN ontbreekt');\nif (!suppliedToken || suppliedToken !== expectedToken) throw new Error('Unauthorized webhook token');\n\nconst inputText = String(body.text || '').trim();\nif (!inputText) throw new Error('Veld \\\"text\\\" is verplicht');\n\nconst preserved = Array.isArray(body.preserved_words)\n  ? [...new Set(body.preserved_words.map((w) => String(w || '').trim()).filter(Boolean))].slice(0, 200)\n  : [];\n\nconst preservedPrompt = preserved.length\n  ? `\\nBehoud deze woorden/termen exact: ${preserved.join(', ')}.`\n  : '';\n\nreturn [{\n  json: {\n    prompt: `Vereenvoudig onderstaande tekst naar B1.${preservedPrompt}\\n\\n--- OORSPRONKELIJKE TEKST ---\\n${inputText}`\n  }\n}];"
      },
      "id": "PreparePrompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Je bent de GovChat Versimpelaar voor overheidscommunicatie. Herschrijf altijd naar taalniveau B1. Behoud betekenis, feiten, juridische nuance en toon. Gebruik korte, duidelijke zinnen en actieve formuleringen. Voeg geen nieuwe informatie toe.",
          "enableStreaming": false,
          "maxIterations": 6
        }
      },
      "id": "AIAgentVersimpelaar",
      "name": "AI Agent Versimpelaar B1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "baseURL": "={{ (String($env.LITELLM_URL || 'http://litellm:4000').replace(/\\/$/, '')) + '/v1' }}"
        }
      },
      "id": "ChatModelVersimpelaar",
      "name": "OpenAI Chat Model (Versimpelaar)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "00000000-0000-4000-8000-000000000111",
          "name": "LiteLLM API"
        }
      },
      "position": [
        -520,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.output || $json.text || '').trim();\nif (!text) throw new Error('Lege response van AI Agent');\nreturn [{ json: { text } }];"
      },
      "id": "BuildResponse",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "RespondSuccess",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -60,
        180
      ]
    }
  ],
  "connections": {
    "Webhook Versimpelaar": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent Versimpelaar B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Versimpelaar B1": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Versimpelaar)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Versimpelaar B1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
